<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ManngaReader</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">

    {% block head %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0px;
            padding-left: 10px;
            /* overflow: hidden; */

        }
    </style>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    {% endblock %}

<body>
    <nav>
        {% block nav %}
        {% endblock %}
    </nav>

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer" style="text-align: center; margin-top: 20px;">
        <p>Powered by Flask</p>
    </div>
</body>

</html>