{% extends "base.html" %}
{% block head %}
{{ super() }}

<!-- <meta charset="SHIFT_JIS"> -->

<style>
    img {
        display: block;
        /* flex: 50%; */
        max-width: 100vw;
        max-height: 100vh;
        height: auto;
        width: 100%;

    }

    .menu {
        background-color: darkgray;
    }

    #frame {
        width: 90vw;
        height: 100%;
        border: none;
        /* writing-mode: vertical-rl; */
        /* overflow-y: auto; */
        line-height: 2;
        text-indent: 10em;
        margin: 10px;
    }

    #frame pre {
        white-space: pre-line;
        word-wrap: break-word;
        font-family: monospace;
        font-size: 16px;
        /* writing-mode: vertical-rl; */
    }

    .horizontal-scroll {
        writing-mode: horizontal-tb;
        /* overflow-x: auto;
        white-space: nowrap; */
    }

    .vertical-scroll {
        writing-mode: vertical-rl;
        overflow-y: auto;
        height: 100vh;
    }
</style>
<!-- <script>
    document.addEventListener("DOMContentLoaded", function () {
        const images = document.querySelectorAll("img");
        images.forEach((img, index) => {
            img.addEventListener("click", function () {
                const nextIndex = (index + 1) % images.length;
                images[nextIndex].scrollIntoView({ behavior: "smooth" });
            });
        });
    });
</script> -->
{% endblock %}

{% block content %}
<div class="menu" , style="width: 100%">
    <a href='{{url_for("volumes", series=series)}}'>
        <div style='height: 100px; text-align: center;'>
            <h1 class="{{disp_style}}"> Back to Volumes</h1>
        </div>
    </a>
</div>

<div id='frame'>
    <pre class="{{ disp_style }}">
{{ content }}
    </pre>
</div>

<div class="menu" , style="width: 100%">
    <a href='{{url_for("volumes", series=series)}}'>
        <div style='height: 100px; text-align: center;'>
            <h1 class="{{disp_style}}"> Back to Volumes</h1>
        </div>
    </a>
</div>
{% endblock %}